*.exe
**.make
**.*.cmake
**.*.json
**/build-cmake/*
/5_boost_asio_network_programming_cookbook/build-cmake/*
/5_boost_asio_network_programming_cookbook/**Makefile
/5_boost_asio_network_programming_cookbook/**.*.cmake
*.make
**build.make
/Cmake_Build_Debug/
Makefile
**.*.o
*~
*.txt.user
*.json
*.cmake
*.includecache
*.internal
*.log
*.marks
*.o
*.sublime-project
/2_Шаблоны C++ Справочник разработчика/build/tuples/indexsort/Makefile
/2_Templates_ C++/build-cmake-Debug/basics/foldtraverse/CMakeFiles/basics_foldtraverse.dir/link.txt
/1_Musser_C++_STL/cmake-build-debug/CMakeFiles/ex02-04_STL_map.dir/link.txt
/3_STL_C++/build-cmake-Debug/algo/CMakeFiles/algo.dir/link.txt
*.out
/1_Musser_C++_STL/cmake-build-debug/CMakeCache.txt
/3_STL_C++/build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.pro.user
/72_Parallel_programming/build/*
build-*

Qt_6_4_Examples/build/

Notes/Подготовка к собесам/20_04_2024_РДП_Инновация_ДЗ/DPDK/dpdk-main/meson.build.user

*.avi

openCL_examples_2/Release/CMakeCache.txt

openCL_examples_2/Release/CMakeCache.txt.prev

Khadas_aqua/aqua

Khadas_aqua/logFile

Khadas_aqua/for_web/temperature

Khadas_aqua/for_web/state_uf

Khadas_aqua/for_web/state_light

Khadas_aqua/for_web/state_food

Khadas_aqua/for_web/state_heat

Khadas_aqua/for_web/heat_off

Khadas_aqua/for_web/heat_on

Current/openCL_yolo/.~lock.Yolo.odt#

Current/yolo_orange/.~lock.План.odt#

Current/openCL_neuro_1/cifar-10-binary.tar.gz

Current/yolo_orange/.~lock.0_Links.odt#

Khadas_aqua/for_web/food_time

Khadas_aqua/for_web/light_off

Khadas_aqua/for_web/light_on
