*.pro.user*
/run
/Build
/build
/Debug
/debub
/Release
/release
/cmake
*.cmake
*.user*
*.o
*.qrc
*qmake*
/.vscode
*.so
/log
*.log
/test_results
/record_results/
*calib.txt
*points.txt
*angles.txt
/img_files/
/txt_files/
